/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2020 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/**** Init ****/
body {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    direction: ltr;
    text-align: left;
}

.stopScroll {
    overflow: hidden;
}


a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active,
button:active,
button:hover,
button:focus {
    box-shadow: none;
    outline: 0;
}


p {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.6;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*==========================||---------------------------||========================*/
/*==========================||         Container         ||========================*/
/*==========================||---------------------------||========================*/

@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           HEADER          ||========================*/
/*==========================||---------------------------||========================*/

.header {
    background: #fff;
    height: 100px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%);
    transition: all 0.3s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-height: 80px;
}

.nav-menu>ul {
    display: flex;
    align-items: center;
    height: 100px;
}

.nav-menu>ul>li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-menu a {
    color: #46484a;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px;
}

.nav-menu li:hover>a,
.nav-menu .active>a,
.nav-menu a:hover {
    color: #acadaf;
}

.dropDown::after {
    content: "\eac8";
    font-family: IcoFont !important;
    margin-inline-start: -10px;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: #fff;
    box-shadow: -10px 18px 30px rgb(0 0 0 / 10%);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.sub-menu li {
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.sub-menu li:last-of-type {
    border: 0;
}

.nav-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.sub-menu a {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.phone {
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000102;
    font-size: 18px;
}

.phone:hover {
    color: inherit;
}

.menu-btn {
    display: none;
}

.side-menu {
    display: none;
}

@media screen and (max-width:768px) {
    .header {
        height: 66px;
        padding: 5px 0;
    }

    .logo img {
        max-width: 50px;
    }

    .header .nav-menu {
        display: none;
    }

    .side-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 270px;
        height: 100vh;
        background: #000;
        display: block;
        transition: all .5s ease-in-out;
        transform: translateX(100%);
    }

    .side-menu.show {
        transform: translateX(0);
    }

    .side-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .side-menu .sub-menu {
        position: relative;
        top: auto;
        left: auto;
        display: none;
        box-shadow: none;
        width: 100%;
        background: #000;
        opacity: 1;
        visibility: visible;
        transition: none;
    }

    .side-menu li:hover a {
        color: #fff;
    }

    .side-menu>ul>li {
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: flex-start;
        border-bottom: 1px solid #333333;
    }

    .side-menu .dropDown::after {
        content: '\efc2';
        font-size: 11px;
        position: absolute;
        right: 12px;
        top: 16px;
        color: #fff;
        margin-inline-start: 0;
    }

    .side-menu a {
        width: 100%;
        font-size: 13px;
        color: #fff;
        letter-spacing: 0;
        text-transform: capitalize;
        font-weight: 100;
    }

    .side-menu .sub-menu a {
        justify-content: flex-start;
    }

    .side-menu .sub-menu li,
    .side-menu .sub-menu li:last-of-type {
        border-top: 1px solid #333333;
        padding-inline-start: 20px;
    }

    .phone {
        display: none;
    }

    .menu-btn {
        width: 20px;
        height: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        margin-left: 40px;
        cursor: pointer;
    }

    .menu-btn span {
        background: #000;
        height: 2px;
        width: 100%;
        transition: all .5s ease-in-out;
    }

    .menu-btn.animate span:first-of-type {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-1px, 6px);
    }

    .menu-btn.animate span:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.animate span:last-of-type {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-3px, -8px);
    }

    .page-content {
        transition: all .5s ease-in-out;
    }

    .translated {
        transform: translateX(-270px);
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Slide          ||========================*/
/*==========================||---------------------------||========================*/

.slider {
    position: relative;
    overflow: hidden;
}

.slider .item {
    color: #fff;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-text {
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.slider h1 {
    font-size: 26px;
    letter-spacing: 12px;
    line-height: 38px;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in;
}

.slider .owl-item.center h1 {
    transition-delay: 1s;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.slider .owl-nav>div {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}

.slider .owl-carousel .owl-nav .owl-prev {
    left: 0;
    cursor: url(../images/prev.png), auto;
}

.slider .owl-carousel .owl-nav .owl-next {
    right: 0;
    cursor: url(../images/next.png), auto;
}

.scroll-bottom {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 14px);
    width: 28px;
    height: 46px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
    overflow: hidden;
    z-index: 33;
    cursor: pointer;
    display: flex;
}

.scroll-bottom::before {
    content: '';
    width: 4px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 8px;
    left: calc(50% - 2px);
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

@media screen and (max-width:768px) {
    .slider .item {
        height: 300px;
    }
    
    .slider-text {
        padding: 20px;
    }
    
    .slider h1 {
        font-size: 17px;
        line-height: 1.8;
        letter-spacing: 1px;
    }
    
    .scroll-bottom {
        display: none;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Article         ||========================*/
/*==========================||---------------------------||========================*/

.article {
    padding: 40px 0;
    background: url('../images/bg.jpg') no-repeat;
    background-size: contain;
    background-position: bottom;
}

.article h2 {
    font-size: 30px;
    font-weight: 600;
}

.article p {
    font-size: 15px;
    color: #8e9296;
    letter-spacing: 0;
    text-transform: capitalize;
}

.article h3 {
    font-size: 21px;
    line-height: 1.8;
}

@media screen and (max-width:768px) {
    .article h2 {
        font-size: 20px;
    }
    
    .article p {
        font-size: 13px;
    }
    
    .article h3 {
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0;
        text-transform: capitalize;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Group          ||========================*/
/*==========================||---------------------------||========================*/

.theme>.row {
    margin: 0;
}

.theme>.row>.col-12 {
    padding: 0;
}

.group-image {
    height: 100%;
    overflow: hidden;
}

.group-image-hover {
    min-height: 400px;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.group h3 {
    font-size: 18px;
    line-height: 1.4;
}

.group-text {
    background: #787b7d;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15%;
    color: #fff;
    overflow: hidden;
}

.group-text h5 {
    font-size: 11px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.group-text p {
    font-size: 13px;
    text-transform: none;
    line-height: 1.8;
    margin: 0;
    letter-spacing: 0;
}

@media screen and (max-width:768px) {
    .group-image-hover {
        min-height: 180px;
    }
    
    .group h3 {
        font-size: 14px;
    }
    
    .group-text {
        padding: 20px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Services        ||========================*/
/*==========================||---------------------------||========================*/

.services {
    background: #000102;
    padding: 90px 0;
    color: #fff;
    text-align: center;
}

.services .row {
    margin: 0 1px;
}

.services .col-12 {
    padding: 1px;
}

.services h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

.service {
    background: #1b1b1f;
    padding: 30px;
    height: 100%;
    overflow: hidden;
    min-height: 250px;
}

.service:hover {
    background: #121214;
}

.service-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 25px;
}

.service img {
    max-height: 100%;
}

.service h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.service p {
    color: #787b7d;
    font-size: 13px;
    letter-spacing: 0;
}

.service a {
    color: inherit;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1;
    position: relative;
}

.service a::before {
    content: '';
    height: 1px;
    width: 0;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all .4s ease-in-out;
}

.service a:hover::before {
    width: 100%;
}

.service a i {
    width: 8px;
    display: inline-block;
}

@media screen and (max-width:768px) {
    .services {
        padding: 30px 0;
    }
    
    .services h1 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .service {
        padding: 15px;
        min-height: auto;
    }

    .service-image {
        height: 30px;
        margin-bottom: 15px;
    }
    
    .service h4 {
        font-size: 14px;
    }
    
    .service p {
        font-size: 12px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Footer         ||========================*/
/*==========================||---------------------------||========================*/

.footer-vector--hover {
    align-items: flex-start;
    background: rgba(255, 255, 255, .6);
    color: #000;
    padding: 20px 7%;
}

.footer h3 {
    font-size: 16px;
}

.footer p {
    font-size: 11px;
    color: #8e9296;
}

.contact {
    padding: 40px 5%;
}

.contact-form {
    padding: 20px 15%;
}

.field {
    margin-bottom: 20px;
}

.field label {
    color: #6c6c6c;
    font-size: 13px;
}

.field input,
.field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
}


.field input:focus,
.field textarea:focus {
    background: #fafafa;
}

.field textarea {
    height: 100px;
    resize: none;
}

.contact-form *[type="submit"] {
    border: 2px solid #797e84;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 100px;
    color: #6c6c6c;
    margin-inline-start: auto;
    margin-inline-end: 0;
    cursor: pointer;
}

.contact-form *[type="submit"]:hover,
.contact-form *[type="submit"]:focus,
.contact-form *[type="submit"]:active {
    background: #797e84;
    color: #fff;
}

@media screen and (max-width:768px) {
    .footer p {
        letter-spacing: 0;
    }
    
    .contact {
        padding: 20px 15px;
    }
    
    .contact-form {
        padding: 0;
    }
    
    .field {
        margin-bottom: 10px;
    }
    
    .field label {
        font-size: 12px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Copyright      ||========================*/
/*==========================||---------------------------||========================*/

.copyright {
    background: #000102;
    color: #fff;
    padding: 50px 3%;
}

.copyright p {
    font-size: 10px;
    margin: 0;
    letter-spacing: 0;
}

.copyright .row {
    align-items: center;
}

.copyright-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.copyright-menu a {
    color: #787b7d;
    padding: 5px 10px;
    font-size: 14px;
}

.copyright-menu a:hover {
    color: #acadaf;
}

@media screen and (max-width:768px) {
    .copyright {
        padding: 20px 15px;
        text-align: center;
    }
    
    .copyright p {
        margin-bottom: 15px;
    }
    
    .copyright-menu ul {
        justify-content: center;
    }
    
    .copyright-menu a {
        font-size: 12px;
        padding: 5px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           Partners        ||========================*/
/*==========================||---------------------------||========================*/

@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||          Subscribe        ||========================*/
/*==========================||---------------------------||========================*/


@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||           Clients         ||========================*/
/*==========================||---------------------------||========================*/


@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||            FOOTER         ||========================*/
/*==========================||---------------------------||========================*/

@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||        Internal Heade     ||========================*/
/*==========================||---------------------------||========================*/



@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||          About Page       ||========================*/
/*==========================||---------------------------||========================*/


@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||         Events Page       ||========================*/
/*==========================||---------------------------||========================*/



@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||       Corporate Page      ||========================*/
/*==========================||---------------------------||========================*/


@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||       Wellness Ideas      ||========================*/
/*==========================||---------------------------||========================*/


@media screen and (max-width:768px) {

}

/*==========================||---------------------------||========================*/
/*==========================||          Careers          ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||          Volunteer        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||        Sponsorships       ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||            AR             ||========================*/
/*==========================||---------------------------||========================*/




/*==========================||---------------------------||========================*/
/*==========================||            Loader        ||========================*/
/*==========================||---------------------------||========================*/